* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

input,
button {
    border: none;
    outline: none;
    font-family: inherit;
}

button {
    cursor: pointer;
    background: none;
}

.background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("./images/background.jpeg");
}

.wrapper {
    background-color: #fff;
    width: 240px;
    height: 270px;
    padding: 10px 20px 25px 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.logo {
    width: 120px;
    align-self: center;
}

.input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.submit-btn {
    color: #fff;
    background-color: #2b2b2b;
    padding: 7px 14px;
    border-radius: 20px;
    box-shadow: 0, 4px, 4px, rgba(0, 0, 0, 0.25);
    margin-top: 5px;
}
