* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

input,
button {
    border: none;
    outline: none;
    font-family: inherit;
}

button {
    cursor: pointer;
    background: none;
}
